{% extends "dashboard/task/pdf/base_pdf.html" %}

{% load i18n static %}
{% load price from taxed_prices %}
{% load discount_as_negative from voucher %}
{% load render_bundle from webpack_loader %}

{% block title %}
  {% blocktrans trimmed context "Invoice title" with task_id=task.id %}
    Invoice for Task #{{ task_id }}
  {% endblocktrans %}
{% endblock %}

{% block content %}
  <h2>{% trans "Invoice" context "Task invoice" %}</h2>
  <table width="100%" border="1" cellspacing="0">
    <thead>
    <tr>
      {% if task.delivery_address %}
        <th align="left" width="50%">
          {% trans "Delivery address" context "Invoice delivery address" %}
        </th>
      {% endif %}
      {% if task.billing_address %}
        <th align="left" {% if task.delivery_address %} width="50%"{% endif %}>
          {% trans "Billing address" context "Invoice billing address" %}
        </th>
      {% endif %}
    </tr>
    </thead>
    <tbody>
    <tr>
      {% if task.delivery_address %}
        <td>
          {% include "dashboard/includes/_address.html" with address=task.delivery_address only %}
        </td>
      {% endif %}
      {% if task.billing_address %}
        <td>
          {% include "dashboard/includes/_address.html" with address=task.billing_address only %}
        </td>
      {% endif %}
    </tr>
    </tbody>
  </table>

  <h2>{% trans "Items Tasked" context "Invoice ordered items header" %}</h2>
  {% if task %}
    <table class="data-table task-table bordered">
      <thead>
      <tr>
        <th>
          <div class="wide">
            {% trans "Item" context "Shipment task table header" %}
          </div>
        </th>
        <th>
          {% trans "SKU" context "Shipment task table header" %}
        </th>
        <th class="right-align">
          {% trans "Tax rate" context "Shipment task table header" %}
        </th>
        <th class="right-align">
          {% trans "Gross price" context "Shipment task table header" %}
        </th>
        <th class="right-align">
          {% trans "Quantity" context "Shipment task table header" %}
        </th>
        <th class="right-align">
          {% trans "Total" context "Shipment task table header" %}
        </th>
      </tr>
      </thead>
      <tbody>
        {% for line in task %}
          <tr>
            <td>
              {{ line.skill_name|truncatechars:30 }}<br>
            </td>
            <td>
              {{ line.skill_sku }}
            </td>
            <td class="right-align">
              {% blocktrans with tax_rate=line.tax_rate context "Task line tax rate value" %}
                {{ tax_rate }} %
              {% endblocktrans %}
            </td>
            <td class="right-align">
              {% price line.unit_price.gross %}
            </td>
            <td class="right-align">
              {{ line.quantity }}
            </td>
            <td class="right-align">
              {% price line.get_total.gross %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <table class="bordered highlight responsive data-table">
    <tbody>
      <tr>
        <td class="wide">
          {% trans "Subtotal" context "Task subtotal net price" %}
        </td>
        <td class="right-align">
          {% price task.get_subtotal.gross %}
        </td>
      </tr>
      <tr>
        <td>
          {% trans "Delivery" context "Task total delivery price header" %} {% if task.delivery_method_name %}({{ task.delivery_method_name }}){% endif %}
        </td>
        <td class="right-align">
          {% price task.delivery_price.gross %}
        </td>
      </tr>
      <tr>
        <td>
          {% trans "Total taxes (included)" context "Task total taxes header" %}
        </td>
        <td class="right-align">
          {% price task.total.tax %}
        </td>
      </tr>
      {% if task.discount_amount %}
        <tr>
          <td>
            {% trans "Discount" context "Task voucher header" %} {% if task.discount_name %}({{ task.translated_discount_name|default:task.discount_name }}){% endif %}
          </td>
          <td class="right-align">
            {% discount_as_negative task.discount_amount html=True %}
          </td>
        </tr>
      {% endif %}
    </tbody>
    <tfoot>
      <tr>
        <td>
          {% trans "Grand total" context "Task total price header" %}
        </td>
        <td class="right-align">
          {% price task.total.gross %}
        </td>
      </tr>
    </tfoot>
  </table>
{% endblock %}
