{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load static %}

{% block title %}
  {% if skill_type.pk %}
    {{ skill_type }}
  {% else %}
    {% trans "Add new skill type" context "Skill type page title" %}
  {% endif %}
  - {% trans "Skills" context "Dashboard skills list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-skills{% endblock %}

{% block menu_skill_types_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:skill-type-list" as url %}
  {% include "dashboard/includes/_back_link.html" with url=url %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:skill-type-list" %}" class="breadcrumb">
        {% trans "Skill types" context "Dashboard skill types list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:skill-type-list" %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {% if skill_type.pk %}
          {{ skill_type }}
        {% else %}
          {% trans 'Add new skill type' context "Skill type breadcrumbs" %}
        {% endif %}
      </span>
    </li>
  </ul>
{% endblock %}

{% block header_extra %}
  {% if skill_type.pk %}
    <a class="dropdown-button right" href="#" data-activates="context-menu" data-constrainwidth="false">
      <svg data-src="{% static "dashboard/images/more-vert.svg" %}" height="24" width="24" />
    </a>
    <ul id="context-menu" class="dropdown-content">
      {% if perms.skill.manage_skills %}
      <li>
        <a href="#base-modal" data-href="{% url 'dashboard:skill-type-delete' pk=skill_type.pk %}" class="modal-trigger-custom">
          {% trans "Remove skill type" context "Skill type action" %}
        </a>
      </li>
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col m12 l9">
      <div class="card">
        <form method="post" id="form-skill" enctype="multipart/form-data" novalidate>
          <div class="card-content card-content-form">
            {% csrf_token %}
            <div class="row">
              {{ form.name|materializecss }}
            </div>
            <div class="row">
              <div class="col s12 m8">
                <div class="row">
                  {{ form.skill_attributes|materializecss:"input-field s12" }}
                </div>
                <div class="row">
                  {{ form.variant_attributes|materializecss:"input-field s12" }}
                </div>
              </div>
              <div class="col s12 m4">
                <div class="row">
                  {{ form.is_shipping_required|materializecss }}
                </div>
                <div class="row">
                  {{ form.has_variants|materializecss }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <span class="card-title">{% trans "Taxes" %}</span>
              </div>
              <div class="col s12 m8">
                {{ form.tax_rate|materializecss }}
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <span class="card-title">{% trans "Shipping" %}</span>
              </div>
              <div class="col s12 m8">
                {{ form.weight|materializecss }}
              </div>
            </div>
          </div>
          {% if perms.skill.manage_skills %}
          <div class="card-action right-align">
            <a href="{% url 'dashboard:skill-type-list' %}" class="btn-flat waves-effect">
              {% trans "Cancel" context "Dashboard cancel action" %}
            </a>
            {% if skill_type.pk %}
              <button type="submit" class="btn waves-effect">
                {% trans "Update" context "Dashboard update action" %}
              </button>
            {% else %}
              <button type="submit" class="btn waves-effect">
                {% trans "Create" context "Dashboard create action" %}
              </button>
            {% endif %}
          </div>
          {% endif %}
        </form>
      </div>
    </div>
    <div class="col m12 l3 help-box">
      <p class="grey-text">
        <svg data-src="{% static "dashboard/images/help.svg" %}" width="18" height="18" />
        {% blocktrans trimmed context "Skill type help text" %}
        Skill Type is a template used for creating new skills.
        It also controls which attributes can be used during skill creation process.
        {% endblocktrans %}
      </p>
      <div class="card">
        <div class="card-content">
          <span class="card-title">{% trans "Images" %}</span>
          <div class="row">
            {% for image in images %}
              <div class="col s4">
                <img class="responsive-img" src="{{ image.image.thumbnail.255x255 }}" srcset="{{ image.image.thumbnail.255x255 }} 1x, {{ image.image.thumbnail.510x510 }} 2x" alt="{{ image.alt }}">
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="card-action">
          <a href="{% url 'dashboard:skill-image-list' skill_type.pk %}" class="btn-flat waves-effect">{% trans "Edit images" %}</a>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
