{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load static %}
{% load utils %}

{% block title %}
  {% trans "Skill types" context "Dashboard skill types list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-skills{% endblock %}

{% block menu_skill_types_class %}active{% endblock %}

{% block header_extra %}
  {% if perms.skill.manage_skills %}
  <div class="btn-fab-fixed">
    <a class="btn-fab-default waves-effect waves-light" title="{% trans "Add skill type" context "Skill type list add button text" %}" href="{% url 'dashboard:skill-type-add' %}">
      <svg data-src="{% static "dashboard/images/add.svg" %}" />
    </a>
  </div>
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li class="visible-s">
      {% trans "Skill types" context "Dashboard skill types list" %}
    </li>
  </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l9">
      {% if skill_types %}
        <div class="card">
          <div class="data-table-container">
            <table class="bordered highlight data-table data-table-description">
              <thead>
                <tr>
                  {% trans "Name" context "Dashboard skill types list table header name" as label %}
                  {% sorting_header 'name' label %}

                  <th>
                    {% trans "Skill attributes" context "Skill type item list text" %}
                  </th>
                  <th>
                    {% trans "Variant attributes" context "Skill type item list text" %}
                  </th>
                </tr>
              </thead>
              <tbody>
              {% for pk, name, skill_attributes, variant_attributes in skill_types %}
                <tr data-action-go="{% if perms.skill.manage_skills %}{% url 'dashboard:skill-type-update' pk=pk %}{% endif %}">
                  <td>
                    {{ name }}
                  </td>
                  <td>
                    {% if skill_attributes %}
                      {{ skill_attributes|join:", " }}
                    {% else %}
                      -
                    {% endif %}
                  </td>
                  <td>
                    {% if variant_attributes %}
                      {{ variant_attributes|join:", " }}
                    {% else %}
                      -
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% paginate skill_types %}
      {% else %}
        {% if is_empty %}
          {% include 'dashboard/skill/skill_type/zero_page.html' %}
        {% else %}
          <div class="col s12">
            <div class="not-found">
              <p class="grey-text">
                {% trans "No skill types found." context "Empty skill type list message" %}
              </p>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="col s12 l3" id="filters">
      {% if not is_empty %}{% filters filter_set %}{% endif %}
    </div>
  </div>
{% endblock %}
