{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load static %}

{% block title %}
  {% if skill.pk %}
    {% trans "Edit" context "Dashboard skills list" %} - {{ skill }}
  {% else %}
    {% trans "Add new skill" context "Skill form page title" %}
  {% endif %}
   - {{ block.super }}
{% endblock %}

{% block body_class %}body-skills{% endblock %}

{% block menu_skills_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:skill-list" as url %}
  {% include "dashboard/includes/_back_link.html" with url=url %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:skill-list" %}" class="breadcrumb">
        {% trans "Skills" context "Dashboard skills list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:skill-list" %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li>
      {% if skill.pk %}
        <a href="{% url "dashboard:skill-details" pk=skill.pk %}" class="breadcrumbs--ellipsed-item">
          {{ skill }}
        </a>
      {% else %}
        <span class="breadcrumbs--ellipsed-item">
          {% trans "Add new skill" context "Skill form breadcrumbs" %}
        </span>
      {% endif %}
    </li>
    {% if skill.pk %}
      <li>
        <span class="breadcrumbs--ellipsed-item">
          {% trans "Edit" context "Skill form breadcrumbs" %}
        </span>
      </li>
    {% endif %}
  </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
  <div class="tab-content" id="details">
    <div class="row">
      <div class="col m12 l9">
        <form method="post" class="card" id="form-skill" novalidate>
          {% csrf_token %}
          <div class="card-content">
            <div class="row">
              <div class="col s12 l8" >
                <div class="row">
                  {{ skill_form.name|materializecss }}
                </div>
                <div class="row">
                  {{ skill_form.description|materializecss }}
                </div>
                <span class="card-title">Availability</span>
                <div class="row">
                  <div class="col s12 m3">
                    {{ skill_form.is_published|materializecss }}
                  </div>
                  <div class="col s12 m9">
                    {{ skill_form.publication_date|materializecss }}
                  </div>
                </div>
                {% include "dashboard/includes/_google_preview.html" with object=skill form=skill_form %}
              </div>
              <div class="col s12 l4">
                <div class="row">
                  {{ skill_form.price|materializecss }}
                </div>
                <div class="row">
                  {{ skill_form.tax_rate|materializecss }}
                  {{ skill_form.charge_taxes|materializecss }}
                </div>
                {% if not skill.skill_type.has_variants %}
                  <div class="row">
                    {{ variant_form.sku|materializecss }}
                  </div>
                  <div class="row">
                    {{ variant_form.quantity|materializecss }}
                  </div>
                  <div class="row">
                    {{ variant_form.track_inventory|materializecss }}
                  </div>
                {% endif %}
                <div class="row">
                  {{ skill_form.category|materializecss }}
                </div>
                <div class="row">
                  {{ skill_form.collections|materializecss }}
                </div>
                {% if skill.skill_type.is_shipping_required %}
                  <span class="card-title">{% trans "Shipping" %}</span>
                  <br>
                  {{ skill_form.weight|materializecss }}
                {% endif %}
                <span class="card-title">{% trans "Attributes" %}</span>
                <br>
                <h6>
                  {% blocktrans with skill_type_name=skill.skill_type %}
                    Skill Type: {{ skill_type_name }}
                  {% endblocktrans %}
                </h6>
                <br>
                {% for attribute_field in skill_form.iter_attribute_fields %}
                  <div class="row attribute-select-or-create">
                    {{ attribute_field|materializecss:"input-field s12" }}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="card-action right-align">
            {% if skill.pk %}
              <a href="{% url 'dashboard:skill-details' skill.pk %}" class="btn-flat waves-effect">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn waves-effect">
                {% trans "Save" context "Dashboard update action" %}
              </button>
            {% else %}
              <a href="{% url 'dashboard:skill-list' %}" class="btn-flat waves-effect">
                {% trans "Cancel" context "Dashboard cancel action" %}
              </a>
              <button type="submit" class="btn waves-effect">
                {% trans "Create" context "Dashboard create action" %}
              </button>
            {% endif %}
          </div>
        </form>
      </div>
      <div class="col m12 l3 help-box"></div>
    </div>
  </div>
{% endblock %}
