{% extends "dashboard/base.html" %}
{% load i18n %}
{% load materializecss %}
{% load price from taxed_prices %}
{% load get_skill_image_thumbnail from skill_images %}
{% load static %}
{% load utils %}

{% block title %}
  {% trans "Skills" context "Dashboard skills list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-skills-list{% endblock %}

{% block menu_skills_class %}active{% endblock %}

{% block header_extra %}
  {% if skill_types %}
    <div class="btn-fab-fixed">
      {% if skill_types|length > 1 %}
      <a data-href="{% url "dashboard:skill-add-select-type" %}" class="btn-fab-default waves-effect waves-light modal-trigger-custom" href="#base-modal" title="{% trans "Add skill" context "Skill list add button text" %}">
          <svg data-src="{% static "dashboard/images/add.svg" %}" />
        </a>
      {% else %}
        <a class="btn-fab-default waves-effect waves-light modal-trigger" href="{% url 'dashboard:skill-add' skill_types.0.pk %}" title="{% trans "Add skill" context "Skill list add button text" %}">
          <svg data-src="{% static "dashboard/images/add.svg" %}" />
        </a>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs">
    <li class="visible-s">
      {% trans "Skills" context "Dashboard skills list" %}
    </li>
  </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12 l9" id="skill-list">
    {% if skills %}
      <div class="card">
        <form method="POST" action="{% url 'dashboard:skill-bulk-update' %}" novalidate id="bulk-actions-form">
          {% csrf_token %}
          <input name="action" type="hidden" id="bulk-action" />
          {% include 'dashboard/skill/../includes/_bulk_actions_bar.html' %}
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table last-right-align">
          <thead>
            <tr>
              <th class="bulk-checkbox">
                <input id="select-all-items" type="checkbox" class="filled-in select-all select-item">
                <label for="select-all-items"></label>
              </th>
              <th></th>
              {% trans "Name" context "Skills list table header" as label %}
              {% sorting_header 'name' label is_wide=True %}

              {% trans "Price" context "Skills list table header" as label %}
              {% sorting_header 'price' label is_wide=True %}
            </tr>
          </thead>
          <tbody>
          {% for skill in skills %}
            <tr class="avatar" data-action-go="{% url 'dashboard:skill-details' pk=skill.pk %}">
              <td class="bulk-checkbox ignore-link">
                <input id="id_skills_{{ skill.pk }}" type="checkbox" name="skills" value="{{ skill.pk }}" class="filled-in select-item">
                <label for="id_skills_{{ skill.pk }}"></label>
              </td>
              <td class="avatar">
                <img src="{% get_skill_image_thumbnail skill.get_first_image size=60 method="thumbnail" %}"
                    srcset="{% get_skill_image_thumbnail skill.get_first_image size=60 method="thumbnail" %} 1x, {% get_skill_image_thumbnail skill.get_first_image size=120 method="thumbnail" %} 2x"
                    alt="">
              </td>
              <td>
                {{ skill.name }}
              </td>
              <td>
                {% price skill.price %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
          </table>
          </div>
        </form>
      </div>
      {% paginate skills %}
    {% else %}
      {% if is_empty %}
        {% include 'dashboard/skill/zero_page.html' %}
      {% else %}
        <div class="col s12">
          <div class="not-found">
            <p class="grey-text">
              {% trans "No skills found." context "Empty skill list message" %}
            </p>
          </div>
        </div>
      {% endif %}
    {% endif %}
    </div>
    <div class="col s12 l3" id="filters">
      {% if not is_empty %}{% filters filter_set %}{% endif %}
    </div>
  </div>
{% endblock %}
