{% extends "base.html" %}

{% load bootstrap_field from bootstrap4 %}
{% load build_absolute_uri from urls %}
{% load get_object_properties from attributes %}
{% load get_thumbnail from skill_images %}
{% load get_skill_image_thumbnail from skill_images %}
{% load i18n %}
{% load markdown from markdown %}
{% load placeholder %}
{% load static %}
{% load taxed_prices %}

{% block title %}
  {% if skill.seo_title %}
    {{ skill.translated.seo_title }}
  {% else %}
    {{ skill.translated.name }} - {{ block.super }}
  {% endif %}
{% endblock %}

{% block meta_tags %}
  <meta property="og:title" content="{{ skill.translated.seo_title|default:skill.translated.name }}">
  <meta property="og:description" content="{{ skill.translated.seo_description|default:"" }}">
  <meta name="description" content="{{ skill.translated.seo_description|default:"" }}">

  {% build_absolute_uri request=request location=skill.get_absolute_url as skill_url %}
  <meta property="og:url" content="{{ skill_url }}">
  <link rel="canonical" href="{{ skill_url }}">

  {% get_skill_image_thumbnail skill.get_first_image size=510 method="thumbnail" as skill_image %}
  {% if skill_image %}
    <meta property="og:image" content="{{ skill_image }}" />
    <meta property="og:image:width" content="510">
    <meta property="og:image:height" content="510">
  {% else %}
    <meta property="og:image" content="{% static "images/block1.png" %}">
  {% endif %}
{% endblock meta_tags %}

{% block breadcrumb %}
  <ul class="breadcrumbs list-unstyled">
    <li>
      <a href="{% url 'home' %}">
        {% trans "Home" context "Main navigation item" %}
      </a>
    </li>
    {% if skill.category %}
      <li>
        <a href="{{ skill.category.get_absolute_url }}">{{ skill.category.translated }}</a>
      </li>
    {% endif %}
    <li>
      <a href="{{ skill.get_absolute_url }}">{{ skill.translated }}</a>
    </li>
  </ul>
{% endblock breadcrumb %}

{% block content %}
  {% if not is_visible %}
    <div class="alert alert-warning" role="alert">
      {% blocktrans trimmed with date=skill.publication_date|date context "Product details text" %}
        <strong>Warning!</strong>
        You are previewing a skill that will become visible on <strong>{{ date }}</strong>.
      {% endblocktrans %}
    </div>
  {% endif %}
  <div class="row skill">
    <script type="application/ld+json">{{ json_ld_skill_data|safe }}</script>
    <div class="col-md-6 col-12 skill__gallery">
      {% with images=skill_images %}
        {% if images %}
          <div id="carousel-example-generic" class="carousel slide">
            <div class="carousel-inner" role="listbox">
              {% for image in images %}
                <div class="carousel-item{% if forloop.first %} active{% endif %}">
                  <div class="skill-image">
                    <img class="d-block img-fluid lazyload lazypreload"
                         data-src="{% get_thumbnail image.image method="thumbnail" size=540 %}"
                         data-srcset="{% get_thumbnail image.image method="thumbnail" size=540 %} 1x, {% get_thumbnail image.image method="thumbnail" size=1080 %} 2x"
                         alt=""
                         src="{% placeholder size=540 %}">
                  </div>
                </div>
              {% endfor %}
            </div>
            {% if images|length > 1 %}
              <a class="carousel-control-prev" href="#carousel-example-generic" role="button" data-slide="prev">
                <svg data-src="{% static "images/gallery-arrow.svg" %}" />
              </a>
              <a class="carousel-control-next" href="#carousel-example-generic" role="button" data-slide="next">
                <svg data-src="{% static "images/gallery-arrow.svg" %}" />
              </a>
            {% endif %}
            <ol class="carousel-indicators d-none d-md-block">
              {% for image in images %}
                {% if images|length > 1 %}
                  <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}>
                    <img data-src="{% get_thumbnail image.image method="thumbnail" size=60 %}"
                         data-srcset="{% get_thumbnail image.image method="thumbnail" size=60 %} 1x, {% get_thumbnail image.image method="thumbnail" size=120 %} 2x"
                         alt=""
                         class="lazyload lazypreload"
                         src="{% placeholder size=60 %}">
                  </li>
                {% endif %}
              {% endfor %}
            </ol>
          </div>
        {% else %}
          <img data-src="{% placeholder size=540 %}"
               data-srcset="{% placeholder size=540 %} 1x, {% placeholder size=1080 %} 2x"
               alt=""
               class="img-fluid lazyload lazypreload">
        {% endif %}
      {% endwith %}
    </div>
    <div class="col-md-6 col-12 skill__info">
      <h1 class="skill__info__name">
        {{ skill.translated }}
      </h1>
      {% if user.is_staff %}
        <p>
          <a href="{% url "dashboard:skill-details" pk=skill.pk %}">
            {% trans "Edit in dashboard" context "Product details link text" %}
          </a>
        </p>
      {% endif %}
      {% if availability.available %}
        {% if show_variant_picker %}
          <div id="variant-price-component"></div>
        {% else %}
          <h2 class="skill__info__price">
            <span>{% price_range availability.price_range %}</span>
            {% if availability.on_sale %}
              <small class="skill__info__price__undiscounted">
                {% price availability.price_range_undiscounted %}
              </small>
            {% endif %}
            {% if availability.price_range_local_currency %}
              <br>
              <small class="text-info">
                &asymp;
                {% price availability.price_range_local_currency %}
              </small>
            {% endif %}
            {% if request.taxes %}
              <small>
                {% tax_rate request.taxes skill.tax_rate as tax_rate %}
                {% if site.settings.display_gross_prices %}
                  {% blocktrans trimmed with tax_rate=tax_rate context "Product details page vat rate value" %}
                    including {{ tax_rate }}% VAT
                  {% endblocktrans %}
                {% else %}
                  {% blocktrans trimmed with tax_rate=tax_rate context "Product details page vat rate value" %}
                    excluding {{ tax_rate }}% VAT
                  {% endblocktrans %}
                {% endif %}
              </small>
            {% endif %}
          </h2>
        {% endif %}
      {% endif %}
      {% if is_visible and skill.is_in_stock %}
        {% block orderform %}
          {% if show_variant_picker %}
            {% csrf_token %}
            <div id="variant-picker" data-variant-picker-data="{{ variant_picker_data }}" data-action="{% url 'skill:add-to-cart' skill_id=skill.pk slug=skill.get_slug %}"></div>
          {% else %}
            <form id="skill-form" role="form" class="skill-form clearfix" method="post" action="{% url 'skill:add-to-cart' skill_id=skill.pk slug=skill.get_slug %}" novalidate>
              {% csrf_token %}
              {% bootstrap_field form.variant %}
              <div class="skill__info__quantity">
                {% bootstrap_field form.quantity %}
              </div>

              <div class="form-group skill__info__button">
                <button class="btn btn-primary">
                  {% trans "Add to cart" context "Product details primary action" %}
                </button>
              </div>
            </form>
          {% endif %}
        {% endblock %}
        <div class="skill__info__form-error">
          <small class="text-danger"></small>
        </div>

      {% else %}
        <p class="alert alert-warning">
          {% blocktrans context "Product details text" %}This skill is currently <strong>unavailable</strong>.{% endblocktrans %}
        </p>
      {% endif %}
      <div class="skill__info__description">
        <h3>{% trans "Description" context "Product details title" %}</h3>
        <hr>
        {{ skill.translated.description|safe }}
      </div>
      <hr>
      <table>
        {% for attribute, value in skill_attributes.items %}
          <tr>
            <td>{{ attribute.translated }}:</td>
            <td><strong>{{ value.translated }}</strong></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock content %}
