{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url 'dashboard:skill-delete' pk=skill.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed context "Modal remove skill text" %}
  Remove skill {{ skill }}
{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed context "Modal remove skill text" %}
      Are you sure you want to remove skill <strong>{{ skill }}</strong>?
    {% endblocktrans %}
  </div>
{% endblock content %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
