{% extends "dashboard/base.html" %}
{% load i18n %}
{% load price from taxed_prices %}
{% load status %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="data-table-header{% if not tasks_to_ship %} data-table-header--no-data{% endif %}">
          <span class="data-table-title" title="{% blocktrans trimmed with counter=tasks_to_ship|length context "Dashboard homepage summary header title" %}Showing last {{ counter }} results{% endblocktrans %}">
            {% trans "Tasks ready for shipment" context "Dashboard homepage table title" %}
          </span>
        </div>
        {% if tasks_to_ship %}
          <div class="data-table-container">
            <table class="btasked highlight responsive data-table last-right-align">
              <thead>
                <tr>
                  <th>
                    #
                  </th>
                  <th>
                    {% trans "Placed on" context "Tasks table header" %}
                  </th>
                  <th>
                    {% trans "Customer" context "Tasks table header" %}
                  </th>
                  <th>
                    {% trans "Payment status" context "Tasks table header" %}
                  </th>
                  <th>
                    {% trans "Task status" context "Tasks table header" %}
                  </th>
                  <th>
                    {% trans "Total" context "Tasks table header" %}
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for task in tasks_to_ship %}
                  <tr data-action-go="{% url 'dashboard:task-details' task_pk=task.pk %}">
                    <td>
                      #{{ task.id }}
                    </td>
                    <td>
                      {{ task.created }}
                    </td>
                    {% trans "Guest" context "Anonymous user account value" as guest %}
                    <td>
                      {{ task.user|default:guest }}
                    </td>
                    <td>
                      {% render_status task.get_payment_status task.get_payment_status_display %}
                    </td>
                    <td>
                      {% render_task_status task.status task.get_status_display %}
                    </td>
                    <td class="right-align">
                      {% price task.total.gross %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <div class="card-content card-content--no-data not-found ">
            <p class="grey-text">
              {% trans "No tasks are ready for shipment." context "Empty task table message" %}
            </p>
          </div>
        {% endif %}
      </div>

      <div class="card">
        <div class="data-table-header{% if not preauthorized_payments %} data-table-header--no-data{% endif %}">
          <span class="data-table-title" title="{% blocktrans trimmed with counter=preauthorized_payments.count context "Dashboard homepage summary header title" %}Showing last {{ counter }} results{% endblocktrans %}">
            {% trans "Preauthorized payments" context "Dashboard homepage table title" %}
          </span>
        </div>
        {% if preauthorized_payments %}
          <div class="data-table-container">
            <table class="btasked highlight responsive data-table">
              <thead>
                <tr>
                  <th>
                    {% trans "Task" context "Preauthorized payments table header" %}
                  </th>
                  <th>
                    {% trans "Date" context "Preauthorized payments table header" %}
                  </th>
                  <th>
                    {% trans "Customer" context "Preauthorized payments table header" %}
                  </th>
                  <th class="right-align">
                    {% trans "Amount" context "Preauthorized payments table header" %}
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for payment in preauthorized_payments %}
                  {% if payment.task %}
                    <tr data-action-go="{% url "dashboard:task-details" task_pk=payment.task.pk %}">
                      <td>
                        {{ payment.task }}
                      </td>
                      <td>
                        {{ payment.created }}
                      </td>
                      <td>
                        {{ payment.task.user|default:_("Guest") }}
                      </td>
                      <td class="right-align">
                        {% price payment.get_total %}
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <div class="card-content card-content--no-data not-found">
            <p class="grey-text">
              {% trans "No preauthorized payments." context "Empty Preauthorized payments table message" %}
            </p>
          </div>
        {% endif %}
      </div>

      <div class="card">
        <div class="data-table-header{% if not low_stock %} data-table-header--no-data{% endif %}">
          <span class="data-table-title" title="{% blocktrans trimmed with counter=low_stock.count context "Dashboard homepage summary header title" %}Showing last {{ counter }} results{% endblocktrans %}">
            {% trans "Skills with low availability" context "Dashboard homepage table title" %}
          </span>
        </div>
        {% if low_stock %}
          <div class="data-table-container">
            <table class="btasked highlight responsive data-table">
              <thead>
                <tr>
                  <th>
                    {% trans "Skill name" context "Low availability skill list" %}
                  </th>
                  <th class="right-align">
                    {% trans "Stock left" context "Low availability skill list" %}
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for skill in low_stock %}
                  <tr data-action-go="{% url "dashboard:skill-details" pk=skill.pk %}">
                    <td>
                      {{ skill }}
                    </td>
                    <td class="right-align">
                      {{ skill.total_stock }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <div class="card-content card-content--no-data not-found">
            <p class="grey-text">
              {% trans "No skills are low in availability." context "Empty low availability table message" %}
            </p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
