{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load materializecss %}

{% block action_url %}
{% url 'dashboard:add-variant-to-task' task_pk=task.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed with task=task context "Modal task add variant title" %}
  Add skill to {{ task }}
{% endblocktrans %}
{% endblock %}

{% block content %}
{{ form.variant|materializecss:"s12 m8" }}
{{ form.quantity|materializecss:"s12 m4" }}
{% endblock %}

{% block primary_action %}
{% trans "Add" context "Modal task add variant primary action" %}
{% endblock %}
