{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load materializecss %}

{% block action_url %}
{% url 'dashboard:task-cancel' task_pk=task.pk %}
{% endblock %}

{% block title %}
{% trans "Cancel task" context "Modal cancel task title" %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% blocktrans trimmed with task=task context "Modal cancel task text" %}
      Are you sure you want cancel task {{ task }}?
    {% endblocktrans %}
    {{ form.restock|materializecss }}
  </div>
{% endblock %}

{% block cancel_action %}
{% trans "Abort" context "Modal cancel task cancel action" %}
{% endblock %}

{% block primary_action %}
{% trans "Cancel Task" context "Modal cancel task primary action" %}
{% endblock %}
