{% extends "dashboard/base_modal.html" %}

{% load i18n %}
{% load materializecss %}
{% load price from taxed_prices %}

{% block action_url %}
{% url 'dashboard:task-mark-as-paid' task_pk=task.pk %}
{% endblock %}

{% block title %}
{% trans "Mark task as paid" context "Modal mark task as paid title" %}
{% endblock %}

{% block content %}
  <div class="col s12">
    {% trans "Are you sure you want mark task as paid?" context "Modal mark task as paid text" %}
    </br>{% trans "Total received:" context "Modal mark task as paid text" %} {% price task.total.gross %}
  </div>
{% endblock %}

{% block cancel_action %}
{% trans "Abort" context "Modal mark task as paid cancel action" %}
{% endblock %}

{% block primary_action %}
{% trans "Mark as paid" context "Modal mark task as paid primary action" %}
{% endblock %}
